
<h1>This is a new SESSION form</h1>

<form action="<%= session_url %>" method="post">

  <label for="user_name">Username</label><br>
  <input type="text" name="user[user_name]" placeholder="Username" id="user_name"/>
  <br>
  <label for="password">Password</label><br>
  <input type="password" name="user[password]" placeholder="Password">
  <br>
  <input type="submit" name="submit">

</form>
